<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning-and-Transformation:" data-toc-modified-id="Data-Cleaning-and-Transformation:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning and Transformation:</a></span><ul class="toc-item"><li><span><a href="#Translate-column-names-to-English:" data-toc-modified-id="Translate-column-names-to-English:-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Translate column names to English:</a></span></li><li><span><a href="#Create-a-column-specifying-type-of-offer:-For-Sale-or-For-Rent:" data-toc-modified-id="Create-a-column-specifying-type-of-offer:-For-Sale-or-For-Rent:-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Create a column specifying type of offer: For Sale or For Rent:</a></span></li><li><span><a href="#Create-a-new-dataframe-before-I-start-to-do-more-changes" data-toc-modified-id="Create-a-new-dataframe-before-I-start-to-do-more-changes-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Create a new dataframe before I start to do more changes</a></span></li><li><span><a href="#Remove-unnecessary-columns-with-website-link-and-information-about-loans" data-toc-modified-id="Remove-unnecessary-columns-with-website-link-and-information-about-loans-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Remove unnecessary columns with website link and information about loans</a></span></li><li><span><a href="#Create-a-column-with-cities-using-polish-characters" data-toc-modified-id="Create-a-column-with-cities-using-polish-characters-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Create a column with cities using polish characters</a></span></li><li><span><a href="#Add-districts" data-toc-modified-id="Add-districts-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Add districts</a></span></li><li><span><a href="#Is-there-possibility-to-negotiate-a-price?" data-toc-modified-id="Is-there-possibility-to-negotiate-a-price?-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Is there possibility to negotiate a price?</a></span></li><li><span><a href="#Create-a-function-which-remove-unnecessary-text-from-chosen-column-and-keep-just-the-first-value" data-toc-modified-id="Create-a-function-which-remove-unnecessary-text-from-chosen-column-and-keep-just-the-first-value-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Create a function which remove unnecessary text from chosen column and keep just the first value</a></span></li><li><span><a href="#Remove-empty-spaces-in-the-first-two-columns" data-toc-modified-id="Remove-empty-spaces-in-the-first-two-columns-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Remove empty spaces in the first two columns</a></span></li><li><span><a href="#Change-values-in-Bedrooms-column" data-toc-modified-id="Change-values-in-Bedrooms-column-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Change values in Bedrooms column</a></span></li><li><span><a href="#Keep-integer-values-in-the-&quot;Floor&quot;-and-&quot;Furnishings&quot;-columns" data-toc-modified-id="Keep-integer-values-in-the-&quot;Floor&quot;-and-&quot;Furnishings&quot;-columns-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Keep integer values in the "Floor" and "Furnishings" columns</a></span></li></ul></li><li><span><a href="#Data-Preparation:" data-toc-modified-id="Data-Preparation:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preparation:</a></span><ul class="toc-item"><li><span><a href="#Create-two-separate-tables-(for-rent-/-for-sale):" data-toc-modified-id="Create-two-separate-tables-(for-rent-/-for-sale):-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create two separate tables (for rent / for sale):</a></span></li><li><span><a href="#Remove-unnecessary-columns" data-toc-modified-id="Remove-unnecessary-columns-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Remove unnecessary columns</a></span></li><li><span><a href="#Change-data-types---'object'-to-'float'---for-columns-with-numbers." data-toc-modified-id="Change-data-types---'object'-to-'float'---for-columns-with-numbers.-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Change data types - 'object' to 'float' - for columns with numbers.</a></span></li><li><span><a href="#Create-final-price-for-rent-properties" data-toc-modified-id="Create-final-price-for-rent-properties-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Create final price for rent properties</a></span></li><li><span><a href="#Choose-Types-of-Building-we-use-in-the-analysis" data-toc-modified-id="Choose-Types-of-Building-we-use-in-the-analysis-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Choose Types of Building we use in the analysis</a></span></li><li><span><a href="#Price-per-square-meter" data-toc-modified-id="Price-per-square-meter-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Price per square meter</a></span></li><li><span><a href="#Show-on-a-map-where-are-located-our-cities" data-toc-modified-id="Show-on-a-map-where-are-located-our-cities-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Show on a map where are located our cities</a></span></li><li><span><a href="#Distance-between-cities" data-toc-modified-id="Distance-between-cities-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Distance between cities</a></span></li></ul></li></ul></div>

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/mborycki/Silesian_Real_Estate_Market/master'
olx_link = f'{url}/OLX_Offers.csv'
location_list = f'{url}/locations.txt'

In [ ]:
olx_df = pd.read_csv(olx_link)

In [ ]:
olx_df.columns

In [ ]:
olx_df.shape

In [ ]:
olx_df.head()

## Data Cleaning and Transformation:

### Translate column names to English:

In [ ]:
olx_df.rename(columns={
    'Cena': 'Price',
    'Cena za m²': 'PriceSqM',
    'Czynsz (dodatkowo)': 'MonthlyRent',
    'Finanse': 'Finances',
    'Liczba pokoi': 'Bedrooms',
    'Miejsce': 'Place',
    'Oferta od': 'Advert_Owner',
    'Powierzchnia': 'SqM',
    'Poziom': 'Floor',
    'Rodzaj zabudowy': 'BuildingType',
    'Rynek': 'Market',
    'Umeblowane': 'Furnishings',
    'Miasto': 'City'
},
              inplace=True)

In [ ]:
olx_df.head(2)

In [ ]:
olx_df.Advert_Owner.replace(['Osoby prywatnej', 'Biuro / Deweloper'],
                            ['Developer', 'Private'],
                            inplace=True)
olx_df.Advert_Owner.unique()

In [ ]:
olx_df.BuildingType.replace([
    'Apartamentowiec', 'Blok', 'Dom wolnostojący', 'Kamienica', 'Pozostałe',
    'Loft', 'Szeregowiec'
], ['Apartment', 'Flat', 'House', 'Tenement', 'Other', 'Loft', 'Townhouse'],
                            inplace=True)
olx_df.BuildingType.unique()

In [ ]:
olx_df.Market.replace(['Wtórny', 'Pierwotny'], ['After', 'Primary'],
                      inplace=True)
olx_df.Market.unique()

In [ ]:
olx_df.head(2)

### Create a column specifying type of offer: For Sale or For Rent:

In [ ]:
olx_df['OfferType'] = np.where(olx_df['MonthlyRent'].isnull(), 'For_Sale',
                               'For_Rent')

### Create a new dataframe before I start to do more changes

In [ ]:
olx_table = olx_df.copy()

### Remove unnecessary columns with website link and information about loans

In [ ]:
olx_table.drop(columns={'Finances'}, axis=1, inplace=True)

In [ ]:
olx_table.head(2)

### Create a column with cities using polish characters

In [ ]:
olx_table['City2'] = olx_table['Place'].str.split(',').str[0]

In [ ]:
olx_table.head(2)

In [ ]:
olx_table.City2.unique()

In [ ]:
# We have some 'no data' records so in that cases let's use city names used in during scraping process (with capitalize func)
olx_table['City2'] = np.where(olx_table['City2'] == 'no data',
                              olx_table['City'].str.capitalize(),
                              olx_table['City2'])

In [ ]:
olx_table.City2.unique()

In [ ]:
olx_table.drop(columns={'City'}, inplace=True)

In [ ]:
olx_table.rename(columns={'City2': 'City'}, inplace=True)

### Add districts

As it is one of the biggest reason of having different price in the same city

In [ ]:
def DistrictA(tbl):
    return tbl['Place'].str.split().str[-1]

In [ ]:
def DistrictB(tbl):
    return tbl['Place'].str.split(
        ',').str[0] + ', ' + tbl['Place'].str.split().str[-1]

In [ ]:
olx_table['District'] = DistrictA(olx_table)

In [ ]:
olx_table['District'] = np.where(olx_table['District'] == 'Śląskie',
                                 olx_table.City, olx_table.District)

In [ ]:
olx_table['District'] = np.where(olx_table['District'] == olx_table.City,
                                 olx_table.City, DistrictB(olx_table))
olx_table['District'] = np.where(olx_table['District'] == 'no data, data',
                                 olx_table['City'], olx_table['District'])

In [ ]:
olx_table.District.sort_values().unique()

### Is there possibility to negotiate a price?

In [ ]:
olx_table['Negotiating'] = np.where(
    olx_table.Price.str.contains('Do negocjacji'), 1, 0)

In [ ]:
olx_table.head()

### Create a function which remove unnecessary text from chosen column and keep just the first value

But first we need to remove null values from chosen columns

In [ ]:
olx_table.isnull().sum()

In [ ]:
olx_table['PriceSqM'] = olx_table['PriceSqM'].replace(np.nan, '0  zł/m²')

In [ ]:
olx_table['MonthlyRent'] = olx_table['MonthlyRent'].replace(np.nan, '0  zł')

In [ ]:
olx_table.head(2)

In [ ]:
def remove_str(x):
    token1 = x.split(' złDo negocjacji')  # Price
    token2 = x.split(' zł')  # Price / MonthlyRent
    token3 = x.split(' zł/m²')  # PriceSqM
    token4 = x.split(' m²')  # SqM
    if len(token1) == 2:
        return (str(token1[0]))
    elif len(token2) == 2:
        return (str(token2[0]))
    elif len(token3) == 2:
        return (str(token3[0]))
    elif len(token4) == 2:
        return (str(token4[0]))
    try:
        return str(x)
    except:
        return False

In [ ]:
olx_table['Price'] = olx_table['Price'].apply(remove_str)

In [ ]:
olx_table['PriceSqM'] = olx_table['PriceSqM'].apply(remove_str)

In [ ]:
olx_table['SqM'] = olx_table['SqM'].apply(remove_str)

In [ ]:
olx_table['MonthlyRent'] = olx_table['MonthlyRent'].apply(remove_str)

In [ ]:
olx_table.head(2)

### Remove empty spaces in the first two columns

In [ ]:
olx_table.iloc[0, 0]

In [ ]:
olx_table['Price'] = olx_table['Price'].str.replace(' ', '')
olx_table['PriceSqM'] = olx_table['PriceSqM'].str.replace(' ', '')
olx_table.iloc[0, 0]

In [ ]:
olx_table.head(2)

### Change values in Bedrooms column

In [ ]:
olx_table.Bedrooms.unique()

In [ ]:
olx_table.groupby('Bedrooms')['Bedrooms'].count()

In [ ]:
def rooms_number(x):
    if x == 'Kawalerka' or x == '1 pokój':
        return 1
    elif x == '2 pokoje':
        return 2
    elif x == '3 pokoje':
        return 3
    else:
        return 4

In [ ]:
olx_table['Bedrooms'] = olx_table['Bedrooms'].apply(rooms_number)

In [ ]:
olx_table.groupby('Bedrooms')['Bedrooms'].count()

### Keep integer values in the "Floor" and "Furnishings" columns

In [ ]:
olx_table.Floor.unique()  # we have some object in here

In [ ]:
olx_table.groupby('Floor')['Floor'].count()

I am not interested in: Attic (Poddasze), floor > 10. So I removed records with these floors and with null. Ground Floor  (Parter) I renamed to 0

In [ ]:
olx_table.drop(olx_table[(olx_table.Floor == 'Poddasze') |
                         (olx_table.Floor == 'Powyżej 10')].index,
               axis=0,
               inplace=True)

In [ ]:
olx_table.dropna(subset=['Floor'], inplace=True)

In [ ]:
olx_table['Floor'] = olx_table.Floor.replace('Parter', '0')

In [ ]:
olx_table['Floor'] = olx_table['Floor'].astype(int)

In [ ]:
olx_table.groupby('Floor')['Floor'].count()

In [ ]:
olx_table['Furnishings'] = np.where(olx_table.Furnishings == 'Tak', 1, 0)

In [ ]:
olx_table.head()

## Data Preparation:

### Create two separate tables (for rent / for sale):

In [ ]:
df_rent = olx_table[olx_table.OfferType == 'For_Rent'].copy()
df_sale = olx_table[olx_table.OfferType == 'For_Sale'].copy()

### Remove unnecessary columns

In [ ]:
df_sale.head(2)

In [ ]:
df_rent.head(2)

In [ ]:
df_sale.drop(columns={'MonthlyRent', 'OfferType'},
             axis='columns',
             inplace=True)

In [ ]:
df_rent.drop(columns={'PriceSqM', 'Market', 'OfferType'},
             axis='columns',
             inplace=True)

### Change data types - 'object' to 'float' - for columns with numbers.

In [ ]:
def is_float(x):
    try:
        return float(x)
    except:
        return False

In [ ]:
def RemoveFalse(df, col):
    return df.drop(df[df[col] == False].index, inplace=True)

**For Sale**

In [ ]:
df_sale.dtypes

In [ ]:
df_sale.shape

In [ ]:
df_sale['Price'] = df_sale['Price'].apply(lambda x: x.replace(',', '.')).apply(
    is_float)
print(
    f'{len(df_sale[df_sale.Price==False])} "False" records before remove them \n'
)
RemoveFalse(df_sale, 'Price')
df_sale['Price'] = df_sale['Price'].apply(is_float)
print(f'{len(df_sale[df_sale.Price==False])} "False" records now')

In [ ]:
df_sale['PriceSqM'] = df_sale['PriceSqM'].apply(
    lambda x: x.replace(',', '.')).apply(is_float)
print(
    f'{len(df_sale[df_sale.PriceSqM==False])} "False" records before remove them \n'
)
RemoveFalse(df_sale, 'PriceSqM')
df_sale['PriceSqM'] = df_sale['PriceSqM'].apply(is_float)
print(f'{len(df_sale[df_sale.PriceSqM==False])} "False" records now')

In [ ]:
df_sale['SqM'] = df_sale['SqM'].apply(lambda x: x.replace(',', '.')).apply(
    is_float)
print(
    f'{len(df_sale[df_sale.SqM==False])} "False" records before remove them \n'
)
RemoveFalse(df_sale, 'SqM')
df_sale['SqM'] = df_sale['SqM'].apply(is_float)
print(f'{len(df_sale[df_sale.SqM==False])} "False" records now')

In [ ]:
df_sale.dtypes

In [ ]:
df_sale.shape

In [ ]:
df_sale.head()

In [ ]:
df_sale.describe()

**For Rent**

In [ ]:
df_rent.dtypes

In [ ]:
df_rent.shape

In [ ]:
df_rent['Price'] = df_rent['Price'].apply(lambda x: x.replace(',', '.')).apply(
    is_float)
print(
    f'{len(df_rent[df_rent.Price==False])} "False" records before remove them \n'
)
RemoveFalse(df_rent, 'Price')
df_rent['Price'] = df_rent['Price'].apply(is_float)
print(f'{len(df_rent[df_rent.Price==False])} "False" records now')

In [ ]:
df_rent['MonthlyRent'] = df_rent['MonthlyRent'].apply(
    lambda x: x.replace(',', '.')).apply(is_float)
print(
    f'{len(df_rent[df_rent.MonthlyRent==False])} "False" records before remove them \n'
)
RemoveFalse(df_rent, 'MonthlyRent')
df_rent['MonthlyRent'] = df_rent['MonthlyRent'].apply(is_float)
print(f'{len(df_rent[df_rent.MonthlyRent==False])} "False" records now')

In [ ]:
df_rent['SqM'] = df_rent['SqM'].apply(lambda x: x.replace(',', '.')).apply(
    is_float)
print(
    f'{len(df_rent[df_rent.SqM==False])} "False" records before remove them \n'
)
RemoveFalse(df_rent, 'SqM')
df_rent['SqM'] = df_rent['SqM'].apply(is_float)
print(f'{len(df_rent[df_rent.SqM==False])} "False" records now')

In [ ]:
df_rent.dtypes

In [ ]:
df_rent.shape

### Create final price for rent properties

As we will pay total price (rental price + additional rent)

In [ ]:
df_rent['MonthlyPrice'] = np.where(df_rent.MonthlyRent > 1,
                                   df_rent.MonthlyRent + df_rent.Price,
                                   df_rent.Price)

In [ ]:
df_rent['PriceSqM'] = df_rent.MonthlyPrice / df_rent.SqM

In [ ]:
df_rent.drop(columns={'Price', 'MonthlyRent'}, inplace=True)

In [ ]:
df_rent.head()

In [ ]:
df_rent.describe()

### Choose Types of Building we use in the analysis

**For Sale**

In [ ]:
df_sale.groupby(
    'BuildingType')['BuildingType'].value_counts().unstack().plot.barh()

**For Rent**

In [ ]:
df_rent.groupby(
    'BuildingType')['BuildingType'].value_counts().unstack().plot.barh()

**For analysis I am going to keep 'flats' as currently, I am interested in just with this type of property**

In [ ]:
b_type = 'Flat'
df_sale2 = df_sale[df_sale.BuildingType == b_type].copy()
df_rent2 = df_rent[df_rent.BuildingType == b_type].copy()

In [ ]:
df_sale2.drop(columns={'BuildingType'}, inplace=True)
df_rent2.drop(columns={'BuildingType'}, inplace=True)

In [ ]:
print(f'{len(df_sale2)} - records in "for sale" table \n')
print(f'{len(df_rent2)} - records in "for rent" table')

In [ ]:
df_sale2.head()

In [ ]:
df_rent2.head()

### Price per square meter

* Show the prices both for sale and rent offers

* Make a function removing bigger deviations 

* Create an average price per SqM for all cities from both tables (sale and rent)

In [ ]:
from IPython.core.display import display, HTML
import matplotlib
%matplotlib inline

In [ ]:
def PriceSqM_Plot(label1, label2, title_txt):
    index = np.arange(len(label1))
    plt.plot(index, label2)
    plt.rcParams['figure.figsize'] = (12, 8)
    #plt.xlabel('', fontsize=10)
    plt.ylabel('PLN / SQM', fontsize=10)
    plt.xticks(index, label1, fontsize=10, rotation=50)
    plt.title(title_txt)
    plt.show()

In [ ]:
def PriceSqM_loop(tbl):
    for index, rows in tbl.groupby('City')['PriceSqM'].mean().reset_index(
    ).sort_values('PriceSqM').iterrows():
        arr_City.append(rows.City)
        arr_PriceSqM.append(rows.PriceSqM)
    return arr_City, arr_PriceSqM

In [ ]:
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))
arr_City = []
arr_PriceSqM = []
arr_title = "Price Square Meter for City. 'For Rent' table - average"
PriceSqM_loop(df_rent2)
PriceSqM_Plot(arr_City, arr_PriceSqM, arr_title)

**As we can see below, we have some flats which have much bigger price per SqM than the other flats in Bytom**

In [ ]:
df_rent2[df_rent2.City == 'Bytom'].describe()

**So lets create a function where price for sqm cannot be higher than 3 times more than median for each city**

In [ ]:
def avg_price(tbl, city):
    return tbl[tbl.District == city].groupby(
        'District')['PriceSqM'].median().values[0]

In [ ]:
df_rent2['avg_price'] = df_rent2.apply(
    lambda x: avg_price(df_rent2, df_rent2['City']) * 3, axis=1)

In [ ]:
# This is what we want to remove:
df_rent2[df_rent2.PriceSqM > df_rent2.avg_price]

In [ ]:
df_rent3 = df_rent2.drop(
    df_rent2[(df_rent2.PriceSqM > df_rent2.avg_price)].index)

In [ ]:
df_rent3.drop(columns={'avg_price'}, inplace=True)

In [ ]:
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))
arr_City = []
arr_PriceSqM = []
arr_title = "Average Square Meter Price for Cities: 'For Rent' table"
PriceSqM_loop(df_rent3)
PriceSqM_Plot(arr_City, arr_PriceSqM, arr_title)

Now it looks much better

**For Sale**

In [ ]:
df_sale2['avg_price'] = df_sale2.apply(
    lambda x: avg_price(df_sale2, df_sale2['City']) * 3, axis=1)

In [ ]:
df_sale3 = df_sale2.drop(
    df_sale2[(df_sale2.PriceSqM > df_sale2.avg_price)].index)
df_sale3.drop(columns={'avg_price'}, inplace=True)

In [ ]:
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))
arr_City = []
arr_PriceSqM = []
arr_title = "Average Square Meter Price for Cities: 'For Sale' table"
PriceSqM_loop(df_sale3)
PriceSqM_Plot(arr_City, arr_PriceSqM, arr_title)

**Both table with properties for sale and for rent are clear now**

> We can see that in three cities we have the highest SQM price no matter is it an offer for sale or for rent. Those cities:

> - Tychy, 
> - Gliwice 
> - Katowice 

> In my city (Wodzisław Śląski) buying a flat is more profitable than rent it

**Let's check how the prices looks like on a map:**

# Visualisation

### Show on a map where are located our cities

In [ ]:
location = pd.read_csv(location_list, sep=';', encoding='windows-1250')

In [ ]:
location.head(2)

In [ ]:
df_cities = df_sale[['City']].drop_duplicates().reset_index()

In [ ]:
df_cities = df_cities.merge(location, on='City', how='inner')

In [ ]:
for column in df_cities.columns:
    df_cities[column] = (df_cities[column].astype("str")
                            .str.replace("ł", "l")
                            .str.replace("Ł", "L")
                            .str.normalize('NFKD')
                            .str.encode('ascii', errors='ignore')
                            .str.decode('utf-8'))

In [ ]:
city_list = []
for city in range(len(df_cities)):
    city_list.append(df_cities.iloc[city, 1])
    city_list.append(df_cities.iloc[city, 2])

In [ ]:
import folium

In [ ]:
map = folium.Map(location=[50.226329, 19.019543], zoom_start=10)

In [ ]:
def add_location(city,lat,lon):
    tooltip = 'Click for more info'
    folium.Marker([lat,lon],
                  popup='<strong>'+city+'</strong>',
                 tooltip=tooltip).add_to(map)

In [ ]:
for x in range(len(city_list)):
    if (x % 2 == 0):
        city = city_list[x]
        loc = city_list[x+1]
        lat = float(loc.strip(',')[1:10])
        lon = float(loc.strip(',')[12:21])
    add_location(city,lat,lon)

In [ ]:
map

# Next Steps

- Why Chorzow is so cheap? For now it is the best city to live
- Revise points on a map - some of them are to far from the city name

-Histogram (each City)

* SqM: maybe remove small SQM values
* advert per city
* sqm per flat/house
* price for smq per floor

-plot

* dev/priv

### Distance between cities

> I want to know what will be my cost for traveling depends on my starting point. Of course, Katowice will by my final destination.

In [ ]:
import math

In [ ]:
R = 6373.0 # radius of the Earth

**Coordinates for Katowice:**
- Warning: Coordinates must be converted to radians for the calculations to be correct.

In [ ]:
kato_lat = float(location[(location.City=='Katowice')].iloc[0,1][1:10])
kato_lon = float(location[(location.City=='Katowice')].iloc[0,1][12:21])

lat1 = math.radians(kato_lat)
lon1 = math.radians(kato_lon)

**This function will calculate distances between the cities:**

In [ ]:
def distance_calc(city):
    city_lat = float(location[(location.City==city)].iloc[0,1][1:10])
    city_lon = float(location[(location.City==city)].iloc[0,1][12:21])

    lat2 = math.radians(city_lat)
    lon2 = math.radians(city_lon)
    
    # change in coordinates
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    
    # Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2

    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance

**Let's create a new column with distances:**

In [ ]:
df1 = location[['City']].copy()

In [ ]:
df1['Distance'] = location.apply(lambda x: distance_calc(x.City),axis=1)

**Traveling Cost:**
Now we want to know what will be our average monthly cost for traveling. To do that we need to know some details, such as:

- Petrol price (4,5 PLN)
- Distance (we have it already)
- How many days are we going to travel during a month (~20 * 2 sides)
- An average fuel consumption of my car 
- As the time is the biggest value then we need to calculate it as well. Based on some examples we can say that on average we need 1 min for 1 km

In [ ]:
petrol_price = 4.5 # 4,50 PLN per 1 litre
fuel_consumption = 6 # 6 litres per 100 km
days = 20
sides = 2
rate_per_hr = 45 # 45 PLN per 1 hour

In [ ]:
def travel_cost(distance):
    res = (distance*days*sides)*fuel_consumption/100*petrol_price
    return res

In [ ]:
df1['Travel_Time_Cost'] = (df1.Distance/60)*sides*days*rate_per_hr

In [ ]:
df1['Travel_Cost'] = df1.apply(lambda x: travel_cost(x.Distance),axis=1)

In [ ]:
df1.head()

In [ ]:
df1['Travel_Cost'] = df1.Travel_Cost+df1.Travel_Time_Cost

In [ ]:
df1 = df1.merge(df_sale3.groupby('City')['PriceSqM'].mean().reset_index(),on='City',how='inner')
df1.rename(columns={'PriceSqM':'PriceSqM_Sale'},inplace=True)

In [ ]:
df1 = df1.merge(df_rent3.groupby('City')['PriceSqM'].mean().reset_index(),on='City',how='inner')
df1.rename(columns={'PriceSqM':'PriceSqM_Rent'},inplace=True)

In [ ]:
df1.drop(columns={'Distance','Travel_Time_Cost'},inplace=True)

In [ ]:
df1.head()

In [ ]:
# HOW TO MAKE COLORS ON A MAP
# m.choropleth(
#  geo_data=state_geo,
#  name='choropleth',
#  data=state_data,
#  columns=['State', 'Unemployment'],
#  key_on='feature.id',
#  fill_color='YlGn',
#  fill_opacity=0.7,
#  line_opacity=0.2,
#  legend_name='Unemployment Rate (%)'
# )
# folium.LayerControl().add_to(m)